@font-face {
  font-family: "Maison Neue Book";
  src: url(./maison-neue-book.ttf);
  font-style: normal;
  font-weight: 400;
}

.header {
  height: 79px;
}

.container-fluid {
  padding: 0px !important;
}

.menu {
  height: 45px;
  padding: 0px 15px;
}

.categories {
  height: 60px;
}

.menu-left {
  padding-left: 16px;
}

.valign-middle {
  fill: #6bd07a;
}

a,
h2,
h3 {
  color: #282828 !important;
}

* {
  font-family: "Maison Neue Book";
  font-size: 0.95rem;
  color: #656969;
}

h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 18px;
  line-height: 3;
}

.card-mine {
  margin-left: 18px;
}

a:hover {
  color: #037362 !important;
}

img {
  margin-left: 0px !important;
}

h2 {
  font-size: 1.4rem;
}
