@font-face {
  font-family: "Maison Neue Book";
  src: url(./maison-neue-book.ttf);
  font-style: normal;
  font-weight: 400;
}

.header {
  height: 79px;
}

.container-fluid {
  padding: 0px !important;
}

.menu {
  height: 45px;
  padding: 0px 15px;
}

.categories {
  height: 60px;
}

.menu-left {
  padding-left: 16px;
}

.valign-middle {
  fill: #6bd07a;
}

.explorar,
.empezar,
.busqueda,
.sesion {
  font-family: "Maison Neue Book";
  font-size: 0.9rem;
}
